@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --karla-font: 'Karla', sans-serif;
    --white-color: #fff;
    --Grayish-blue-color: hsl(218, 22%, 67%);
    --Cyan-color: hsl(179, 62%, 43%);
    --Light-gray: hsl(204, 43%, 93%);
    --Bright-Yellow-color: hsl(71, 73%, 54%)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--Light-gray);
    width: 100%;
    height: 100vh;
}